build/*
dist/*
main.spec
models/*
temp/*
readme.zip
videoRemover/*
**/__pycache__/ 
*.py[cod]
*$py.class
paddleOCR.py
video2frame.py
folder2zip.py
example/*
inpaint/lama/__pycache__
myenv/*
train/sttn/datasets/davis/JPEGImages/
testPythons/*